$main-color: #7079c2;
$secondary-color-light: #B4BEC9;
$secondary-color-dark: #159A9C;
$text-color-dark: #002333;
$text-color-light: #FFFFFF;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 150%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

._container {
    max-width: 1198px;
    margin: 0 auto;
}

// <> =======================================================
.header {
    background: $main-color;
    // .header__menu

    &__menu {
       padding: 30px;
    }

    // .header__list

    &__list { 
        display: flex;
        justify-content: end;
    }

    // .header__item

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    // .header__link

    &__link {
        color: $text-color-light;
    }
}


// </ Header> =======================================================