* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  font-family: "Poppins";
  font-weight: 600;
  background: #7079c2;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
}

main {
  flex: 1 1 auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  text-decoration: none;
  font-weight: normal;
  font-size: 1.1rem;
  font-weight: 600;
}

._container {
  max-width: 1198px;
  padding: 0px 0px 0px 0px;
  margin: 0 auto;
}

.header {
  background: #7079c2;
}
.header__menu {
  padding: 30px;
}
.header__list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: wrap;
}
@media (max-width: 682px) {
  .header__list {
    justify-content: center;
  }
}
.header__item:not(:last-child) {
  margin-right: 30px;
}
.header a {
  color: #FFFFFF;
  position: relative;
  line-height: 24px;
  display: inline-block;
  padding-bottom: 5px;
  overflow: hidden;
}
.header a:before, .header a:after {
  content: "";
  position: absolute;
  transition: width 0.5s ease;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  width: 0;
}
.header a:hover:before {
  width: 100%;
}

.page__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .page__wrapper {
    flex-wrap: wrap;
  }
}

.col,
.info-block {
  display: flex;
  flex-direction: column;
}

.col {
  gap: 20px;
  flex: 1 1 auto;
  padding: 30px;
  background: #a4c7cc;
  color: #002333;
}
@media (max-width: 630px) {
  .col {
    padding: 20px;
  }
}
.col a, .col a:visited {
  color: #002333;
}
.col a:not(.project__link):not(.courses-list__certificate) {
  position: relative;
  line-height: 24px;
  display: inline-block;
  padding-bottom: 5px;
  overflow: hidden;
}
.col a:not(.project__link):not(.courses-list__certificate):before, .col a:not(.project__link):not(.courses-list__certificate):after {
  content: "";
  position: absolute;
  transition: width 0.5s ease;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  width: 0;
  background: #002333;
}
.col a:not(.project__link):not(.courses-list__certificate):hover:before {
  width: 100%;
}
.col_dark {
  flex: 1 0 35%;
  background: #159A9C;
  color: #FFFFFF;
}
.col_dark a, .col_dark a:visited {
  color: #FFFFFF;
}
.col_dark a:not(.project__link):not(.courses-list__certificate) {
  position: relative;
  line-height: 24px;
  display: inline-block;
  padding-bottom: 5px;
  overflow: hidden;
}
.col_dark a:not(.project__link):not(.courses-list__certificate):before, .col_dark a:not(.project__link):not(.courses-list__certificate):after {
  content: "";
  position: absolute;
  transition: width 0.5s ease;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  width: 0;
}
.col_dark a:not(.project__link):not(.courses-list__certificate):hover:before {
  width: 100%;
}

.info-block {
  gap: 15px;
}
.info-block__text {
  font-style: italic;
}
.info-block_bordered {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 20px;
  border: 6px double #7079c2;
}
.info-block__list {
  gap: 25px;
}
.info-block__list_skills {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.info-block__list_skills li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.info-block__list_skills li img {
  height: 48px;
}

.person__photo {
  position: relative;
  z-index: 5;
  max-height: 300px;
  width: 238px;
  margin: auto;
}
.person__photo:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  height: 240px;
  width: 300px;
  border-radius: 40px 0;
  background: #7079c2;
  border: 1px solid #FFFFFF;
}
.person__photo img {
  max-height: 300px;
  width: 238px;
  border-radius: 0 40px;
  border: 7px double #FFFFFF;
}
.person__name {
  margin: 20px auto;
  text-align: center;
  font-size: 56px;
}
@media (max-width: 390px) {
  .person__name {
    font-size: 42px;
  }
}
.person__profession {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

.contacts__item {
  display: flex;
  align-items: center;
}
.contacts__icon {
  height: 30px;
  margin-right: 20px;
}
.contacts__icon_location, .contacts__icon_telegram {
  height: 25px;
  margin-left: 2px;
  display: inline-block;
  border: 1.5px solid #FFFFFF;
  border-radius: 5px;
}

.projects {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.projects__item {
  flex: 1 1 30%;
}

.project {
  display: flex;
  flex-direction: column;
  min-width: 125px;
  max-width: 200px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #002333;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.project h3 {
  text-align: center;
}
.project__top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}
.project__top::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding-bottom: 100%;
}
.project__top img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.project__description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.7725490196);
  z-index: 5;
  transform: translateY(100%);
  transition: transform 0.3s;
}
.project:hover .project__description {
  transform: translateY(0);
}
.project__links {
  display: flex;
  gap: 5px;
  align-items: center;
}
.project__link {
  display: block;
  width: 40px;
  transition: color 0.2s;
}
.project__link svg {
  width: 100%;
}
.project__link path {
  fill: currentColor;
}
.project a.project__link {
  color: #FFFFFF;
}
.project a.project__link:hover {
  color: #159A9C;
}

.courses-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.courses-list li {
  display: flex;
  flex-direction: column;
}
.courses-list__certificate {
  height: 100px;
  border: 2px solid #002333;
  align-self: start;
  overflow: hidden;
}
.courses-list__certificate:hover img {
  transform: scale(1.1);
}
.courses-list__certificate img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s;
}

.footer {
  background: #7079c2;
  color: #FFFFFF;
  padding: 20px;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=style.css.map */